Assignment: SQL Notebook for Peer Assignment

Setup and Load Data
First,  need to load the dataset into an SQL database, we use SQLite.

In [10]:
import pandas as pd
import sqlite3

# Correct URL to download the raw CSV file from GitHub
url = "https://raw.githubusercontent.com/abuabchal/testrepo/main/Applied%20Data%20Science%20Capstone/Toronto_Postcodes.csv"

# Load the dataset
df = pd.read_csv(url)

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Load the dataframe into the SQLite database
df.to_sql('data', conn, index=False, if_exists='replace')

# Verify that the data has been loaded correctly
query = "SELECT * FROM data LIMIT 5;"
print(pd.read_sql_query(query, conn))

   Unnamed: 0 Postcode      Borough                           Neighbourhood
0           0      M1B  Scarborough                          Rouge, Malvern
1           1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2      M1E  Scarborough       Guildwood, Morningside, West Hill
3           3      M1G  Scarborough                                  Woburn
4           4      M1H  Scarborough                               Cedarbrae

Basic SQL Queries

Perform basic SQL queries to understand the data.

In [12]:
import pandas as pd
import sqlite3

# Correct URL to download the raw CSV file from GitHub
url = "https://raw.githubusercontent.com/abuabchal/testrepo/main/Applied%20Data%20Science%20Capstone/Toronto_Postcodes_2.csv"

# Load the dataset
df = pd.read_csv(url)

# Display the first few rows of the dataset to understand its structure
print("First few rows of the dataset:")
print(df.head())

# Display the column names
print("\nColumn names:")
print(df.columns)

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Load the dataframe into the SQLite database
df.to_sql('data', conn, index=False, if_exists='replace')

# Verify that the data has been loaded correctly
query = "SELECT * FROM data LIMIT 5;"
print("\nFirst 5 rows from the SQLite database:")
print(pd.read_sql_query(query, conn))

# Query to get basic information about the data
query = "SELECT COUNT(*) AS row_count, COUNT(DISTINCT Postcode) AS distinct_postcodes FROM data;"
print("\nBasic information about the data:")
print(pd.read_sql_query(query, conn))

# Query to get summary statistics
query = """
SELECT 
    COUNT(Postcode) AS total_postcodes,
    COUNT(DISTINCT Borough) AS distinct_boroughs,
    COUNT(DISTINCT Neighbourhood) AS distinct_neighbourhoods
FROM data;
"""
print("\nSummary statistics of the data:")
print(pd.read_sql_query(query, conn))

# Check for missing values in each column
query = """
SELECT 
    SUM(CASE WHEN Postcode IS NULL THEN 1 ELSE 0 END) AS missing_postcode,
    SUM(CASE WHEN Borough IS NULL THEN 1 ELSE 0 END) AS missing_borough,
    SUM(CASE WHEN Neighbourhood IS NULL THEN 1 ELSE 0 END) AS missing_neighbourhood
FROM data;
"""
print("\nMissing values in each column:")
print(pd.read_sql_query(query, conn))

# Distribution of 'Borough'
query = """
SELECT Borough, COUNT(*) AS count
FROM data
GROUP BY Borough
ORDER BY count DESC;
"""
print("\nDistribution of 'Borough':")
print(pd.read_sql_query(query, conn))

First few rows of the dataset:
   Unnamed: 0 PostalCode      Borough                           Neighbourhood  \
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

Column names:
Index(['Unnamed: 0', 'PostalCode', 'Borough', 'Neighbourhood', 'Latitude',
       'Longitude'],
      dtype='object')

First 5 rows from the SQLite database:
   Unnamed: 0 PostalCode      Borough                           Neighbourhood  \
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

Basic information about the data:

DatabaseError: Execution failed on sql 'SELECT COUNT(*) AS row_count, COUNT(DISTINCT Postcode) AS distinct_postcodes FROM data;': no such column: Postcode